body {
    margin: 0;
    padding: 0;
    background: #262626;
   
}
.bg {
 height: 100vh;
}
.skewedbox {
    background: yellowgreen;
    padding: 50px 0;
    transform: skew(0deg, -10deg) translatey(-120px);

}
.container {
    padding: 150px 200px;
    transform: skew(0deg, 10deg);
    font-family: Arial, Helvetica, sans-serif;
}
.container h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 3em;
}
.container p {
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    width: 80%;
}
.sec-2 {
    padding: 0 200px 150px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    


}
..sec-2 h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 3em;
}
.sec-2 p {
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    width: 100%;
}